$colorFontLessDark: #B38184;
$colorFontDark: rgb(50, 50, 50);
$colorFontDarker: rgb(25, 25, 25);
$colorFontLight: #F7E4BE;
$colorFontLighter: #e7c7bb;
$colorFontDisabled: rgb(150, 150, 150);
$colorFontDanger: rgb(176, 0, 32);

$colorLogoOrange: #d28730;
$colorLogoBlue: #294e97;
$colorGradientBackground : linear-gradient(360deg, #e7c7bb 1%, #B38184 40%);
$backgroundBtnRemoveHover: rgb(224, 70, 70);
$backgroundBtnAddHover: rgb(110, 254, 110);
$backgroundBtn: lightgray;


$colorBackgroundBlack: rgb(50, 50, 50);
$colorBackgroundBlacker: rgb(25, 25, 25);
$colorBackgroundDark: #B38184;
$colorBackgroundDarker: #73626E;
$colorBackgroundVeryDark: #413E4A;
$colorBackgroundLight: #F7E4BE;
$colorBackgroundLighter: #e7c7bb;
$colorBackgroundDisabled: rgb(150, 150, 150);
$colorBackgroundDanger: rgb(165, 0, 30);
$colorBackgroundVeryDanger: rgb(135, 5, 25);

$colorBorderLessDark: #B38184;
$colorBorderDark: rgb(150, 150, 150);
$colorBorderDarker: rgb(25, 25, 25);
$colorBorderLight: rgb(237, 231, 246);
$colorBorderLighter: rgb(235, 235, 235);
$colorBorderDisabled: rgb(200, 200, 200);
$colorBorderDanger: rgb(176, 0, 32);

$fontSizeXXL: 2.2rem;
$fontSizeXL: 1.4rem;
$fontSizeLG: 1.2rem;
$fontSizeMD: 1rem;
$fontSizeSM: 0.875rem;
$fontSizeXS: 0.75rem;

$widthContent: 90vw;